altgraph==0.17.3
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
Deprecated==1.2.13
idna==3.4
jaconv==0.3.4
pefile==2023.2.7
pycparser==2.21
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pykakasi==2.2.1
pywin32-ctypes==0.2.0
requests==2.28.2
srt==3.5.3
tqdm==4.65.0
urllib3==1.26.15
vosk==0.3.45
websockets==11.0.2
wrapt==1.15.0
